<html>
<head>
<title>Evolution</title>
<script src="javascripts/lib/jquery-1.11.1.min.js"></script>
<script src="javascripts/lib/jquery.form.min.js"></script>
<link rel="stylesheet" href="stylesheets/main.css"/>
</head>
<body>
<table>
    <tr>
        <td>
            <div id="board"></div>
        </td>
        <td>
            <form id="generate">
                <table>
                    <tr>
                        <td>
                            <label for="generate_width">width:</label>
                        </td>
                        <td>
                            <input id="generate_width" name="width"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="generate_height">height:</label>
                        </td>
                        <td>
                            <input id="generate_height" name="height"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="generate_n">n:</label>
                        </td>
                        <td>
                            <input id="generate_n" name="n"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="generate_max_speed">max_speed:</label>
                        </td>
                        <td>
                            <input id="generate_max_speed" name="max_speed"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="generate_iteration_count">iteration_count:</label>
                        </td>
                        <td>
                            <input id="generate_iteration_count" name="iteration_count"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <button class="btn" type="submit" style="width:100%">Generate</button> 
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <div class="title">All simulations</div>
            <div id="all_simulations">
                <div name="content"></div>
                <button class="btn" style="width:100%">Refresh</button>
            </div>
        </td>
        <td>
            <div class="title">All slides</div>
            <div id="all_slides">
                <div name="content"></div>
                <button class="btn" style="width:100%">Refresh</button>
            </div>
        </td>
    </tr>
</table>
<script src="javascripts/Generator.js"></script>
<script src="javascripts/Drawer.js"></script>
<script src="javascripts/Refresher.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>
